# Segredos e Chaves de API (NUNCA ENVIAR)
firebase-key.json
.env

# Dependências
node_modules/

# Arquivos do Sistema Operacional
desktop.ini
thumbs.db
.DS_Store

# Mobile / Builds / Executáveis
android/
ios/
*.log
*.exe
xampp/

# IDEs e Editores
.vscode/
.idea/