<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">

    <!-- Faz a tela se adaptar ao celular -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Estoque Zero</title>

    <!-- Ligação com o CSS -->
   <link rel="stylesheet" href="../../CSS/abertura.css">
</head>

<body>

    <!-- Tela inteira -->
    <main class="tela">

        <!-- Pequenas decorações do fundo -->
        

        <!-- Conteúdo principal -->
        <section class="conteudo">

            <!-- LOGO -->
            <div class="logo">
                <div>ESTOQUE</div>
                <strong>ZERO</strong>
            </div>


            <!-- ILUSTRAÇÃO DO CARRINHO -->
            <div class="ilustracao">

                <!-- Sacolas/produtos -->
                <div class="produto produto1">🥛</div>
                <div class="produto produto2">🥫</div>
                <div class="produto produto3">🍎</div>

                <!-- Carrinho -->
                <div class="carrinho">
                    🛒
                </div>

            </div>


            <!-- FRASE -->
            <h1>
                Educação Financeira<br>
                na prática!
            </h1>


            <!-- BARRA DE CARREGAMENTO -->
            <div class="barra">

                <div id="progresso"></div>

            </div>


            <!-- TEXTO DA BARRA -->
            <p id="mensagem">
                Carregando...
            </p>

        </section>

    </main>


    <!-- Ligação com o JavaScript -->
       <script src="../../Js/abertura.js"></script>

</body>

</html>