<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Estoque Zero - Boas-vindas</title>

    <link rel="stylesheet" href="../../CSS/boas-vindas.css">
</head>

<body>

    <main class="tela-boas-vindas">

        <!-- LOGO -->
        <header class="cabecalho">

            <div class="logo">
                ESTOQUE
                <span>ZERO</span>
            </div>

        </header>


        <!-- ÁREA DA PERSONAGEM -->
        <section class="area-personagem">

            <div class="circulo-personagem">

            <img
            id="personagem"
            class="personagem"
            src=""
            alt="Seu personagem"
        >


            </div>

        </section>


        <!-- CONTEÚDO -->
        <section class="conteudo">

            <h1>
                Bem-vindo(a)!
            </h1>

            <p class="texto-principal">
                Está preparado(a) para
                o desafio?
            </p>

            <p class="texto-secundario">
                No Estoque Zero, você vai
                aprender a tomar decisões,
                controlar seus gastos e
                cuidar melhor do seu dinheiro.
            </p>

        </section>


        <!-- BOTÃO -->
        <section class="area-botao">

            <button
                id="botaoComecar"
                class="botao-principal"
            >
                Vamos começar!
            </button>

        </section>


        <!-- INDICADORES -->
        <div class="indicadores">

            <span class="indicador ativo"></span>

            <span class="indicador"></span>

            <span class="indicador"></span>

            <span class="indicador"></span>

        </div>

    </main>

    <script src="../../Js/boas-vindas.js"></script>


</body>

</html>