<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">

    <meta 
        name="viewport" 
        content="width=device-width, initial-scale=1.0"
    >

    <title>Produto encontrado</title>

    <link rel="stylesheet" href="../../CSS/card-produto.css">
</head>

<body>

    <!-- Fundo da câmera -->
    <main class="tela-camera">

        <!-- CARD DO PRODUTO -->
        <div class="card-produto">

            <!-- Botão fechar -->
            <button 
                class="fechar" 
                id="fechar"
            >
                ×
            </button>


            <!-- Imagem do produto -->
            <div class="area-imagem">

                <img 
                    id="imagemProduto"
                    src=""
                    alt="Produto encontrado"
                >

            </div>


            <!-- Nome e preço -->
            <div class="informacoes">

                <h1 id="nomeProduto">
                    Produto
                </h1>

                <p id="precoProduto">
                    R$ 0,00
                </p>

            </div>


            <!-- Botões -->
            <div class="botoes">

                <button 
                    class="botao-adicionar"
                    id="adicionar"
                >
                    🛒 Adicionar ao carrinho
                </button>

                <button 
                    class="botao-cancelar"
                    id="cancelar"
                >
                    Cancelar
                </button>

            </div>

        </div>

    </main>


   <script src="../../JS/card-produto.js"></script>

</body>

</html>