<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contagem Regressiva - Estoque Zero</title>
  <link rel="stylesheet" href="../../CSS/contagem.css">
</head>
<body>

  <div class="tela-contagem">
    <main class="conteudo">
      <h1 class="titulo-preparar">Prepare-se!</h1>

      <!-- Círculo com os números e o marcador central -->
      <div class="circulo-contagem">
        
        
        <div class="numero-destaque" id="numeroContagem">3</div>

        <div class="sequencia-numeros">
          
          
        </div>
      </div>
    </main>
  </div>

  <script src="../../Js/contagem.js"></script>
</body>
</html>