<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Estoque Zero - Login</title>

    <link rel="stylesheet" href="../../CSS/style.css">
</head>

<body>

    <main class="login-container">

        <!-- Logo -->
        <section class="logo-area">
            <div class="logo-icon">🛒</div>

            <h1>
                ESTOQUE<br>
                <span>ZERO</span>
            </h1>

            <p>Educação financeira na prática!</p>
        </section>


        <!-- Card de Login -->
        <section class="login-card">

            <h2>Bem-vindo(a)! 👋</h2>

            <p class="login-description">
                Entre na sua conta para continuar
                sua jornada no Estoque Zero.
            </p>


            <form id="loginForm">

                <!-- E-mail -->
                <div class="input-group">

                    <label for="email">E-mail</label>

                    <div class="input-wrapper">
                        

                        <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Digite seu e-mail"
                            required
                        >
                    </div>

                </div>


                <!-- Senha -->
                <div class="input-group">

                    <label for="senha">Senha</label>

                    <div class="input-wrapper">

                        

                        <input
                            type="password"
                            id="senha"
                            name="senha"
                            placeholder="Digite sua senha"
                            required
                        >

                        <button
                            type="button"
                            id="mostrarSenha"
                            class="password-button"
                        >
                            👁
                        </button>

                    </div>

                </div>


                <!-- Esqueci senha -->
                <div class="forgot-password">

                    <a href="/Frontend/View/recuperar-senha.html">
                        Esqueceu sua senha?
                    </a>

                </div>


                <!-- Botão -->
                <button
                    type="submit"
                    class="btn-primary"
                >
                    Entrar
                </button>

            </form>


            <div class="separator">
                <span>ou</span>
            </div>


            <!-- Cadastro -->
<p class="register-text">
    Não tem conta?
    <a href="/Frontend/View/cadastro.html">
        Cadastre-se
    </a>
</p>

        </section>

    </main>


    <script src="../../Js/login.js"></script>

</body>

</html>